PORT=3333
NODE_ENV=development

DATABASE_URL="postgresql://docker:docker@localhost:5432/add-link"

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET_NAME=""
CLOUDFLARE_PUBLIC_URL="https://pub-example.r2.dev"
